.vh-100 {
  height: 100vh;
}

.w-100 {
  width: 100% !important;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}

.position-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

.divider {
  height: 1px;
  background-color: var(--f7-card-outline-border-color);
  margin-top: var(--f7-card-margin-vertical);
  margin-bottom: var(--f7-card-margin-vertical);
}

.rounded-snd {
  border-radius: 1rem;
}
