.snd-swiper {
  // height: calc(100vh - 208px);
  overflow-y: auto;
  .swiper-slide {
    .swiper-slide-content {
      height: calc(100vh - 244px);
      overflow-y: auto;
    }
  }
  .swiper-pagination {
    top: -7px;
    bottom: auto;
  }

  .list {
    margin-top: 0;
    margin-bottom: 0;
  }
}
label.item-radio.item-radio-icon-start.item-radio-box.item-content {
  position: relative;
}
